body{
    font-family: "Lato", sans-serif;
    background-size: cover;
    background-image: url(images/background.jpg);
}
.container{
    display: grid;
    grid-template-columns: 1fr;
}
.nav-wrapper{
    display: grid;
    padding:30px;
}
.top{
    display: flex;
}
.nav-wrapper > .top >div{
    font-family: sans-serif;
    margin-right: 100px;
    text-transform: uppercase;
    position: relative;
    left: 400px;
    top: 13px;
    font-weight: 700;
}
.nav-link-wrapper{
    height: 18px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}
.nav-link-wrapper a{
    color: #296d98;
    text-decoration: none;
    transition: color 0.5s;
}
.nav-link-wrapper:hover{
    border-bottom: 1px solid white;
}
.nav-link-wrapper a:hover{
    color: white;
}
.rectangle{
    position: relative;
    top: 37px;
    left: 32%;
    height: 30px;
    width: 400px;
    background-color: #8cd3ff;
}
.active-nav-link{
    border-bottom: 1px solid white;
}
.active-nav-link a{
    color: white !important;
}
.two-collumn-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.image-about{
    display: inline-block;
    vertical-align: top;
    width: 40%;
    margin-left: 90px;
    margin-top: 100px;
}
.text-about{
    display: inline-block;
    width: 26%;
    max-width: 620px;
    text-align: center;
    float: right;
    margin-right: 250px;
    margin-top: 200px;
    border: 2px dashed #8cd3ff;
    color: white;
}
.text-about h1{
    color: #8cd3ff;
}
